<script src="./assets/ts/appCompScript.ts"></script>
<p-progressSpinner *ngIf="spinnerTurnedOn" class="spinner" [style]="{width: '50px', height: '50px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
<div id="mainHeader">
  <img id="mainHeaderImageLeft" src="assets/images/coder.png"/>
  <span id="mainHeaderCodeImg">public static void main(String[] args)<br/>System.out.println(Math.random());<br/>for(int i=0; i arr.length; i++) <br/>System.out.println("Hello World");<br/>
  int width = 10;<br/>
  System.err.println(width);
  <br/></span>
  <div id="authorNameBackground"></div>
  <pre id="authorName">Бондарь Валерий<br/>P3211</pre>
</div>
<div id="loginDisplay">
  <span #usernameContainer class="usernameText" style="display: none">Логин: <span #username></span></span>
</div>
<div id="header">
  <div id="links-container">
    <a #authLink class="route-link-btn" (click)="onExitButtonClick()" routerLink="/">Вход</a>
    <a #panelLink class="route-link-btn" routerLink="/home" style="display: none">Панель</a>
    <a #historyLink class="route-link-btn" routerLink="/history" style="display: none">История</a>
  </div>
  
</div>

<router-outlet></router-outlet>
<div id="footer">
</div>