<div id="homeContent">
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <form [formGroup]="userform" id="leftSide">
    
        <h3>Выберите X:</h3>
        <p-radioButton *ngFor="let el of fillNumbers; let i = index" label="{{ i - 3 }}" formControlName="xradio-group" value="{{ i - 3 }}" [(ngModel)]="xCoord"></p-radioButton>
        <br>
        <h3>Введите Y:</h3>
        <div class="input-valid-block">
            <input type="text" formControlName="yinput" placeholder="(-5 .. 3)"
            [(ngModel)]="yCoord"
            maxlength="7"
            pInputText>
            <p-message *ngIf="!userform.controls['yinput'].valid && userform.controls['yinput'].dirty" severity="error" text="Некорректный ввод или поле пустое"></p-message>
        </div>
        <br>
        <h3>Выберите R:</h3>
        <p-radioButton *ngFor="let el of fillNumbers; let i = index" (click)="redrawAxises(); changeGraph();" label="{{ i - 3 }}" formControlName="rradio-group" value="{{ i - 3 }}" [(ngModel)]="rCoord"></p-radioButton>
        <br>
        <button type="button" label="Отправить" (click)="onSubmitButtonClick()" [disabled]='!userform.valid' pButton></button>
    </form>
    <div id="rightSide">
        <div id="graph">
            <canvas id="task-chart" (click)="click($event)"></canvas>
            <img id="task-graph" src="./assets/images/graph-positive-r.png"/>
        </div>
        <button type="button" class="clearButton" label="Очистить" (click)="clearHistory()" pButton></button>        
    </div>
</div>
